<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.oss.mapper.OssSpeciesMapper">

    <resultMap type="OssSpecies" id="OssSpeciesResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="belongListId"    column="belong_list_id"    />
        <result property="speciesInfo"    column="species_info"    />
        <result property="dangerLevel"    column="danger_level"    />
        <result property="dangerLevelReason"    column="danger_level_reason"    />
        <result property="measures"    column="measures"    />
        <result property="lawId"    column="law_id"    />
        <result property="solution"    column="solution"    />
        <result property="picture1"    column="picture1"    />
        <result property="picture2"    column="picture2"    />
        <result property="picture3"    column="picture3"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectOssSpeciesVo">
        select id, name, belong_list_id, species_info, danger_level, danger_level_reason, measures, law_id, solution, picture1, picture2, picture3, is_deleted from oss_species
    </sql>

    <select id="selectOssSpeciesList" parameterType="OssSpecies" resultMap="OssSpeciesResult">
        <include refid="selectOssSpeciesVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="belongListId != null  and belongListId != ''"> and belong_list_id like concat('%', #{belongListId}, '%')</if>
            <if test="speciesInfo != null  and speciesInfo != ''"> and species_info like concat('%', #{speciesInfo}, '%')</if>
            <if test="dangerLevel != null  and dangerLevel != ''"> and danger_level like concat('%', #{dangerLevel}, '%')</if>
            <if test="dangerLevelReason != null  and dangerLevelReason != ''"> and danger_level_reason like concat('%', #{dangerLevelReason}, '%')</if>
            <if test="measures != null  and measures != ''"> and measures like concat('%', #{measures}, '%')</if>
            <if test="lawId != null  and lawId != ''"> and law_id like concat('%', #{lawId}, '%')</if>
            <if test="solution != null  and solution != ''"> and solution like concat('%', #{solution}, '%')</if>
            <if test="isDeleted != null  and isDeleted != ''"> and is_deleted = #{isDeleted}</if>
        </where>
    </select>

    <select id="selectOssSpeciesById" parameterType="Long" resultMap="OssSpeciesResult">
        <include refid="selectOssSpeciesVo"/>
        where id = #{id}
    </select>

    <insert id="insertOssSpecies" parameterType="OssSpecies" useGeneratedKeys="true" keyProperty="id">
        insert into oss_species
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="belongListId != null">belong_list_id,</if>
            <if test="speciesInfo != null">species_info,</if>
            <if test="dangerLevel != null">danger_level,</if>
            <if test="dangerLevelReason != null">danger_level_reason,</if>
            <if test="measures != null">measures,</if>
            <if test="lawId != null">law_id,</if>
            <if test="solution != null">solution,</if>
            <if test="picture1 != null">picture1,</if>
            <if test="picture2 != null">picture2,</if>
            <if test="picture3 != null">picture3,</if>
            <if test="isDeleted != null">is_deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="belongListId != null">#{belongListId},</if>
            <if test="speciesInfo != null">#{speciesInfo},</if>
            <if test="dangerLevel != null">#{dangerLevel},</if>
            <if test="dangerLevelReason != null">#{dangerLevelReason},</if>
            <if test="measures != null">#{measures},</if>
            <if test="lawId != null">#{lawId},</if>
            <if test="solution != null">#{solution},</if>
            <if test="picture1 != null">#{picture1},</if>
            <if test="picture2 != null">#{picture2},</if>
            <if test="picture3 != null">#{picture3},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
        </trim>
    </insert>

    <update id="updateOssSpecies" parameterType="OssSpecies">
        update oss_species
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="belongListId != null">belong_list_id = #{belongListId},</if>
            <if test="speciesInfo != null">species_info = #{speciesInfo},</if>
            <if test="dangerLevel != null">danger_level = #{dangerLevel},</if>
            <if test="dangerLevelReason != null">danger_level_reason = #{dangerLevelReason},</if>
            <if test="measures != null">measures = #{measures},</if>
            <if test="lawId != null">law_id = #{lawId},</if>
            <if test="solution != null">solution = #{solution},</if>
            <if test="picture1 != null">picture1 = #{picture1},</if>
            <if test="picture2 != null">picture2 = #{picture2},</if>
            <if test="picture3 != null">picture3 = #{picture3},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOssSpeciesById" parameterType="Long">
        delete from oss_species where id = #{id}
    </delete>

    <delete id="deleteOssSpeciesByIds" parameterType="String">
        delete from oss_species where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>